<a href="https://colab.research.google.com/github/nikitazade101/B9DA108_2223_TMD1S/blob/main/CA1_B9DA108_2223_TMD1S.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:

from bs4 import BeautifulSoup
import pandas as pd
import requests

In [83]:
url= 'https://www.skyscanner.com/transport/flights/dub/us/?adults=1&adultsv2=1&cabinclass=economy&children=0&childrenv2=&inboundaltsenabled=false&infants=0&originentityid=27540823&outboundaltsenabled=false&preferdirects=false&ref=home&rtn=1'

In [86]:
resp=requests.get('https://www.skyscanner.com/transport/flights/dub/us/?adults=1&adultsv2=1&cabinclass=economy&children=0&childrenv2=&inboundaltsenabled=false&infants=0&originentityid=27540823&outboundaltsenabled=false&preferdirects=false&ref=home&rtn=1'.text)

AttributeError: ignored

In [75]:
resp

In [33]:
resp.content

b'<!doctype html><html lang="en"><head><meta charset="utf-8"><meta http-equiv="x-ua-compatible" content="ie=edge"><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><meta name="theme-color" content="#000000"><link rel="manifest" href="./manifest.json"><link rel="shortcut icon" href="./favicon.ico"><title>Skyscanner</title><link rel="icon" href="/favicon.ico"><script type="text/javascript">window.__pageLoadedTime=Date.now()</script><link href="./static/css/main.bc7688ab.css" rel="stylesheet"></head><body><noscript>You need to enable JavaScript to run this app.</noscript><div id="root"></div><script src="./static/js/main.59799da2.js"></script></body></html>'

In [37]:
soup=BeautifulSoup(resp.content)
x = soup.find_all('table',id="destinations")
len(x)

0

In [45]:
soup.header
soup.div

In [43]:
soup.find_all('div', {"class" :"clearfix content-wrap--withSearchSummary"})

[]

In [166]:
####

In [167]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [168]:
url = 'https://finance.yahoo.com/mutualfunds'
resp=requests.get(url)
resp

In [169]:
resp.text[:500]

'<!doctype html><html data-color-theme="light" id="atomic" class="NoJs chrome desktop failsafe" lang="en-US"><head prefix="og: https://ogp.me/ns#"><script>window.performance && window.performance.mark && window.performance.mark(\'PageStart\');</script><meta charset="utf-8"><title>Top Mutual Funds Today - Yahoo Finance</title><meta name="keywords" content="Mutual Fund Screener, industry, index membership, share data, mutual fund price, market cap, beta, sales, profitability, valuation ratios, analys'

In [170]:
page_content = resp.text
doc = BeautifulSoup(page_content, 'lxml')

In [ ]:
doc

In [199]:
x = doc.find('table', attrs={"class":"W(100%)"})

In [200]:
len(x)

2

In [ ]:
x

In [203]:
len(x.find_all("tr"))

26

In [204]:
header = []
for i in x.find_all("th"):
  t = i.text
  header.append(t)
header

['Symbol',
 'Name',
 'Change',
 '% Change',
 'Price (Intraday)',
 '50 Day Average',
 '200 Day Average',
 '3-Mo Return',
 'YTD Return',
 '52 Week Range']

In [206]:
df = pd.DataFrame(columns=header)
df

Empty DataFrame
Columns: [Symbol, Name, Change, % Change, Price (Intraday), 50 Day Average, 200 Day Average, 3-Mo Return, YTD Return, 52 Week Range]
Index: []

In [207]:
for y in x.find_all("tr")[1:]:
  r1 = y.find_all('td')
  r2 = [i.text for i in r1]
  length = len(df)
  df.loc[length] = r2

In [208]:
df

,Symbol,Name,Change,% Change,Price (Intraday),50 Day Average,200 Day Average,3-Mo Return,YTD Return,52 Week Range
0,MIMFX,AMG Veritas China Fund - Class I,+0.38,+2.15%,17.64,16.77,18.75,-19.32%,-33.80%,
1,MMCFX,AMG Veritas China Fund - Class N,+0.35,+2.09%,16.74,15.91,17.80,-19.97%,-19.97%,
2,MICFX,Matthews China Fund Insti Class,+0.30,+1.97%,15.25,13.35,15.31,-18.09%,-38.24%,
3,MCHFX,Matthews China Fund Investor Class,+0.30,+1.96%,15.27,13.37,15.34,-20.26%,-20.26%,
4,MSMLX,Matthews Emerging Markets Small Companies Fund...,+0.47,+1.85%,25.44,23.44,24.87,-11.13%,-11.13%,
5,MISMX,Matthews Emerging Markets Small Companies Fund...,+0.47,+1.85%,25.46,23.45,24.86,-6.95%,-21.09%,
6,JMIGX,Jacob Discovery Fund Institutional Class,+0.29,+1.26%,22.97,22.74,25.69,-16.34%,-16.34%,
7,JMCGX,Jacob Discovery Fund Investor Class,+0.25,+1.21%,20.72,20.51,23.19,-11.39%,-44.23%,
8,SSETX,BNY Mellon Small Cap Growth Fund Class I,+0.40,+1.19%,33.67,32.20,33.66,-11.72%,-11.72%,
9,SSYGX,BNY Mellon Small Cap Growth Fund Class Y,+0.40,+1.18%,33.77,32.30,33.76,-11.06%,-29.27%,
10,DVSMX,Driehaus Small Cap Growth Fund Investor Share ...,+0.18,+1.07%,16.82,16.17,16.83,-7.35%,-33.16%,
11,LSHUX,Kinetics Spin-off and Corporate Restructuring ...,+0.29,+1.06%,27.42,24.94,21.14,29.74%,49.62%,
12,KNPYX,"Kinetics Mutual Fds, Inc. The Paradigm Fd Inst...",+1.09,+1.06%,103.24,93.76,81.12,2.85%,2.85%,
13,KNPAX,"Kinetics Mutual Funds, Paradigm Fund Advisor C...",+1.03,+1.05%,97.75,88.81,76.93,27.56%,38.68%,
14,LSHEX,Kinetics Spin-off and Corporate Restructuring ...,+0.30,+1.05%,28.55,25.97,22.02,29.67%,49.32%,
15,DNSMX,Driehaus Small Cap Growth Fund Institutional S...,+0.18,+1.05%,17.14,16.47,17.13,-19.34%,-19.34%,
16,WWNPX,"Kinetics Mutual Funds, Inc., The Paradigm Fund",+1.07,+1.05%,102.06,92.71,80.25,27.63%,38.97%,
17,KNPCX,"Kinetics Mutual Funds, The Paradigm Fund Advis...",+0.93,+1.05%,88.80,80.72,70.01,27.40%,38.08%,
18,KMKYX,"Kinetics Mutual Fds, The Market Opportunities ...",+0.52,+1.05%,49.74,46.14,41.75,21.86%,22.33%,
19,KMKNX,The Market Opportunities Fund No Load,+0.51,+1.04%,48.89,45.35,41.06,21.77%,22.14%,
20,KMKAX,The Market Opportunities Fund Advisor Class A,+0.50,+1.04%,48.02,44.56,40.37,1.72%,1.72%,
21,LSHCX,Kinetics Spin-off and Corporate Restructuring ...,+0.26,+1.04%,25.02,22.78,19.36,29.39%,48.32%,
22,KMKCX,"Kinetics Mutual Fds, Market Opportunities Fd A...",+0.47,+1.03%,45.60,42.33,38.41,21.56%,21.37%,
23,LSHAX,Kinetics Spin-off and Corporate Restructuring ...,+0.28,+1.03%,27.18,24.72,20.97,4.32%,4.32%,
24,KSOAX,The Small Cap Opportunities Fd Adv Cl A a seri...,+1.30,+0.98%,132.11,121.29,107.50,22.88%,38.47%,

In [209]:
#how to get all data(from page 2, 3, etc)
#what next?